table.barchart { 
  width: 75%;
  margin: auto;
  font: 12px/20px 'Helvetica Neue',Arial,sans-serif;
}

table.barchart td { 
  padding: 0.5em;
}

table.barchart td:first-child { 
  text-align: right;
  white-space: nowrap;
  width: 1%;
  vertical-align: top;
}

table.barchart td:last-child { 
  text-align: right;
}

table.barchart td:last-child span { 
  float: right;
  width: 10%;
}

table.barchart td:last-child div.bar { 
  position: relative;
  float: left;
  width: 90%;
}

body.full .slide table.barchart:not(.active) td:last-child div.bar {
  width: 0;
}

body.full .slide:target table.barchart.active td:last-child div.bar {
  transition: width 1s ease;
  width: 90%;
}

table.barchart td:last-child div.bar > div {
  background-color: rgb(193, 56, 50);
  background-repeat: repeat-x;
  background-image: linear-gradient(rgb(234, 59, 40), rgb(193, 56, 50));
  border-radius: 0.2em;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 0;
}
