table.barchart { 
  width: 50%;
  margin: auto;
  border: 1px solid black;
  font: 12px/20px 'Helvetica Neue',Arial,sans-serif;
}

table.barchart td:first-child { 
  text-align: right;
  white-space: nowrap;
  width: 1%;
  font-size: 80%;
/*  -moz-transform: rotate(-45deg);
    -moz-transform-origin: 100% 80%; */
}

table.barchart td:last-child { 
  text-align: right;
}

table.barchart td:last-child span { 
  float: right;
  width: 10%;
}

table.barchart td:last-child div.bar { 
  position: relative;
  float: left;
  width: 90%;
}

table.barchart td:last-child div.bar > div {
  background-image: linear-gradient(bottom, rgb(171,84,22) 10%, rgb(235,152,97) 55%);
  background-image: -o-linear-gradient(bottom, rgb(171,84,22) 10%, rgb(235,152,97) 55%);
  background-image: -moz-linear-gradient(bottom, rgb(171,84,22) 10%, rgb(235,152,97) 55%);
  background-image: -webkit-linear-gradient(bottom, rgb(171,84,22) 10%, rgb(235,152,97) 55%);
  background-image: -ms-linear-gradient(bottom, rgb(171,84,22) 10%, rgb(235,152,97) 55%);
  border-radius: 0.2em;

  transition: width 1s ease;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 0;
}
